.Home {
	padding: 0px 189px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

@media (max-width: 1280px) {
	.Home {
		padding: 0px 150px;
	}
}

@media (max-width: 1000px) {
	.Home {
		padding: 0px 60px;
	}
}

@media (max-width: 768px) {
	.Home {
		gap: 30px;
		padding: 0px 40px;
	}
}

@media (max-width: 640px) {
	.Home {
		padding: 0px 16px;
	}
}
