.resetPas {
	background-image: url('../../assets/img/signBg.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 74px);
	width: 100%;
}

.wrapperResetPas {
	position: relative;
	padding: 40px 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	border: 1px solid #463046;
	background: #322636;
	flex-shrink: 0;
	gap: 24px;
	width: 322px;
}

.resetPasWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.resetPasText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.resetPasTitle {
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 33.6px */
	text-transform: capitalize;
}

.resetPasSubtitles {
	color: #d9d1dc;
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 14.4px */
}

.resetPasContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: 100%;
}

.resetPasEmail {
	border-radius: 18px;
	border: 1px solid #432e43;
	background: #271a2b;
	color: #8b8f9c;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 14.4px */
	flex-shrink: 0;
	padding: 16px;

	width: -webkit-fill-available;
}

.resetPasEmail.invalid {
	border: 1px solid red;
	color: red;
}

.resetPasButtons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	width: 100%;
}

.resetPasBtnSend {
	border-radius: 18px;
	background: linear-gradient(
		91deg,
		#e17f32 0.76%,
		#e8609f 47.99%,
		#894bec 100%
	);
	box-shadow: 0px 4px 16.8px 0px rgba(240, 73, 243, 0.47);
	padding: 16px 0px;
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 12px */
	letter-spacing: -0.24px;
	width: -webkit-fill-available;
	border: none;
	cursor: pointer;
}

.resetPasBtnBack {
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 12px */
	letter-spacing: -0.24px;
	padding: 16px 0px;
	border-radius: 18px;
	background: #443547;
	width: -webkit-fill-available;
	border: none;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.resetPas {
		justify-content: start;
		padding-top: 32px;
		gap: 90px;
		height: 100%;
	}

	.resetPasTitle {
		font-size: 26px;
	}
}

@media (max-width: 768px) {
	.resetPas {
		height: calc(100vh - 92px);
	}
}

@media (max-width: 640px) {
	.wrapperResetPas {
		padding: 32px 10px;
		border-radius: 15px;
		width: max-content;
	}

	.resetPasTitle {
		font-size: 22px;
	}
	.resetPasSubtitles {
		width: 295px;
	}

	.resetPasWrapper,
	.resetPasContent {
		gap: 20px;
	}
}
